<section>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/frame.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/frontwheel.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/handle.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/sheet.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/wheel.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/8.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/4.jpg" alt="">
    </div>
    <div class="example-box" cdkDragLockAxis='y x' cdkDrag>
        <img src="../../assets/img/parts/1.jpg" alt="">
    </div>

</section>