.card{
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}

.mat-card{
    /* height: 300px;
    width: 200px; */
    background-size: cover;
    /* border: greenyellow;
    box-shadow: 2px rgb(212, 27, 27) ; */
    cursor: pointer;
    font-size: x-large;
    margin-right: 20px;

}
.mat-card h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline ;

}
/* a{
    margin-right: 40px;
} */

div.scroll{
    margin: 4px, 4px;
    padding: 4px;
    width: 95%;
    overflow: auto;
    white-space:nowrap;
}
img{
    height: 300px;
    width: 200px;
    background-size: cover;
    cursor: pointer;
    font-size: x-large;
}